<h3> Posts </h3>

<% if session[:usuario] %><h3><%= link_to "Postar", "/posts/new" %></h3><% end %>
    <% @posts.each do |post| %>

  <div class="container" id="main">
    <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="panel panel-default">
            <form action="/posts/comentar" method="get">
              <div class="panel-heading"><a><input type="submit" value="Ver"></a> <h4>Posts</h4></div>
                <div class="panel-body">
                      <div class="list-group">
                        <a class="list-group-item"><%= post.conteudo %></a>
                        <a class="list-group-item"><%= post.usuario.nome %></a>
                        <a class="list-group-item"><%= post.data %></a>
                        <input type='hidden' name='id' value='<%=post.id%>'>
                        </form>
                      </div>
                </div>
              </div>
      </div>
    </div>
  </div>
    <% end %>

