<h2>Novo Post</h2>
    

    <%= form_for @post do |f| %>

       <%= f.label 'Conteúdo:' %>
        <%= f.text_field :conteudo, maxlength: 10000, size: "600x120" %>

        </p>

        
<!--    <%= select_tag :assunto_id do  %>
            <%= options_from_collection_for_select( @assuntos, :id, :assunto) %>
        <% end %> 
-->     
        Assunto:
        
        <%= select_tag :assunto_id, options_from_collection_for_select( @assuntos, :id, :assunto) %>

        </p>

        <font color="red">Se vocẽ não achou nenhum assunto que se enquadre no seu post fique a vontade para cadastrar um novo.</font>

        </p>

        <%= label_tag 'Outro assunto:' %> 
         <input id="outroassunto" name="outroassunto" type="text" />
         *tem que ter mais de 10 carac
         
         </p>

        <%= radio_button_tag(:tipo, "fisica") %>
		<%= label_tag(:geofis, "Geografia Física") %>
		<%= radio_button_tag(:tipo, "humana") %>
		<%= label_tag(:geopol, "Geografia Humana") %>

        
	</p>

    <%= f.submit 'Salvar' %>


<% end %>