
<h2>Novo Usuario</h2>

<%= form_for @usuario do |f| %>

    <%= f.label 'nome:' %>
    <%= f.text_field :nome %>

    <p>
    <%= f.label 'E-mail:' %>
    <%= f.text_field :email %>
    </p>

    <p>
    <%= f.label 'Login:' %>
    <%= f.text_field :login %>
    </p>

    <p>
    <%= f.label 'Nascimento:' %>
    <%= f.text_field :nascimento %>
    </p>


    <%= f.submit 'Salvar' %>

<% end %>