<% if session[:usuario] %>

  Logado como  <%= session[:usuario] %>

  <%= form_tag({controller: 'login', action: 'logout'}) do %>
      <button>Logout</button>
  <% end %>
<% end %>
<%if @tipo=='fisica'
	tipo = 'Física'
end%>

<%if @tipo=='humana'
	tipo = 'Humana'
end%>

<h3>Geografia <%= tipo %></h3>

	<% @posts.each do |post| %>
    
    Postado por <%= post.usuario.nome %>, em <%= post.data %>
        <br>
        <%= post.conteudo %>
        <p>
        

    <% end %>

       
